html,
body {
  font-family: "Montserrat Alternates", sans-serif;
  margin: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(110deg, #6bfef9, #6beec1);
}

html a {
  text-decoration: none;
  color: #fff;
}

header {
  padding: 2em;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0f401f;
}

header a {
  color: #0f401f;
  font-weight: bold;
  font-size: 1.2em;
}

.hamburger {
  width: 1.75em;
  cursor: pointer;
  z-index: 61;
}

.hamburger:after,
.hamburger:before,
.hamburger div {
  background-color: #0f401f;
  border-radius: 3px;
  content: "";
  display: block;
  height: 0.25em;
  margin: 0.25em 0;
  transition: all 0.6s ease-in-out;
}

.close:after {
  background-color: #fff;
  transform: translateY(-0.5em) rotate(-135deg);
}

.close:before {
  background-color: #fff;
  transform: translateY(0.5em) rotate(135deg);
}

.close div {
  background-color: #fff;
  transform: scale(0);
}

section {
  height: calc(80% - 4em);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  background-image: url("images/rectangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

section h1 {
  font-size: 3.5em;
  line-height: 1.5em;
  color: #0f401f;
  margin: 0;
}

section p {
  font-size: 1.2em;
  color: #62666a;
  text-align: right;
  margin: 0 auto;
  padding-left: 4em;
  align-self: flex-end;
}

footer {
  width: calc(100% - 4em);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2em 2em 0 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  font-size: 0.9em;
  font-weight: 700;
  opacity: 0.7;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links a {
  display: block;
  width: 0.9em;
  height: 0.9em;
  background: no-repeat center center;
  background-size: 100% auto;
  opacity: 0.7;
}

.footer-links a.twitter {
  background-image: url(images/twitter.svg);
}

.footer-links a.linkedin {
  background-image: url(images/linkedin.svg);
}

.footer-links a.github {
  background-image: url(images/github.svg);
}

.menu {
  background-color: rgb(29, 27, 27);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 50;
  transform: translateX(100%);
}

.menu {
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu-header {
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  position: relative;
  width: 60%;
  top: 1px;
  text-align: center;
}

.menu-header-line {
  display: block;
  height: 2px;
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 9px;
  z-index: -1;
}

.menu-header-text {
  padding: 0 10px;
  font-size: 1em;
  z-index: 1;
  position: relative;
  background-color: rgb(29, 27, 27);
}

.menu-body {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  font-size: 1.9em;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.menu-body li a {
  display: inline-block;
  padding: 15px 20px;
  transition: ease-in 0.25s;
  color: #fff;
}

.menu-body li a:hover {
  background-color: #fff;
  color: rgb(31, 29, 29) !important;
}

.menu-body li a {
  color: #fff;
}

.menu-footer {
  width: 50%;
  margin-top: 20px;
}

.menu-footer-links a.twitter {
  background-image: url(images/twitter-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.menu-footer-links a.linkedin {
  background-image: url(images/linkedin-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.menu-footer-links a.github {
  background-image: url(images/github-white.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.menu-footer-links {
  width: 100%;
  display: flex;
  list-style: none;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.menu-footer-links li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  transition: ease-in 0.25s;
  color: #fff;
}

.menu-footer-line {
  display: block;
  height: 2px;
  background-color: #ffffff49;
}

.open-menu {
  transform: translateX(0);
}

@media (max-width: 1024px) {
  section {
    height: 65%;
    padding: 1.5em;
    background-size: 500px 500px;
  }
  section h1 {
    font-size: 3em;
  }
}

@media (max-width: 800px) {
  section {
    height: 60%;
    background-size: 350px 350px;
  }
  section h1 {
    font-size: 2em;
  }
  section p {
    font-size: 1em;
  }
  .menu ul {
    padding: 0;
    margin: 0;
  }
}
