@import url("https://fonts.googleapis.com/css?family+Montserrat:400,700");

html,
body {
  font-family: "Montserrat";
  margin: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(110deg, #6bfef9, #6beec1);
}

html a {
  text-decoration: none;
}

header {
  padding: 2em;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}

.hamburger {
  width: 1.75em;
  cursor: pointer;
  z-index: 61;
}

.hamburger:after,
.hamburger:before,
.hamburger div {
  background-color: black;
  border-radius: 3px;
  content: "";
  display: block;
  height: 0.25em;
  margin: 0.25em 0;
  transition: all 0.6s ease-in-out;
}

.close:after {
  background-color: #fff;
  transform: translateY(-0.5em) rotate(-135deg);
}

.close:before {
  background-color: #fff;
  transform: translateY(0.5em) rotate(135deg);
}

.close div {
  background-color: #fff;
  transform: scale(0);
}

section {
  height: calc(80% - 4em);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  background-image: url("images/rectangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

section h1 {
  font-size: 3.5em;
  line-height: 1.5em;
  color: #0f401f;
  margin: 0;
}

section p {
  font-size: 1.2em;
  color: #62666a;
  text-align: right;
  margin: 0 auto;
  padding-left: 4em;
  align-self: flex-end;
}

footer {
  width: calc(100% - 4em);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2em 2em 0 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  font-size: 0.9em;
  font-weight: 700;
  opacity: 0.7;
}

footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links a {
  display: block;
  width: 0.9em;
  height: 0.9em;
  background: no-repeat center center;
  background-size: 100% auto;
  opacity: 0.7;
}

.footer-links a.twitter {
  background-image: url(images/twitter.svg);
}

.footer-links a.linkedin {
  background-image: url(images/linkedin.svg);
}

.footer-links a.github {
  background-image: url(images/github.svg);
}

.menu {
  background-color: rgba(0, 0, 0, 0.932);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 33%;
  transition: transform 0.3s ease-in-out;
  z-index: 50;
  transform: translateX(100%);
}

.menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: left;
  justify-content: left;
  height: 100%;
  font-size: 1.3em;
  padding-top: 30px;
}

.menu li {
  padding-top: 1em;
}

.menu li a {
  color: #fff;
}

.open-menu {
  transform: translateX(0);
}

@media (max-width: 1024px) {
  section {
    height: 65%;
    padding: 1.5em;
    background-size: 500px 500px;
  }
  section h1 {
    font-size: 3em;
  }
  .menu {
    width: 50%;
  }
}

@media (max-width: 800px) {
  section {
    height: 60%;
    background-size: 350px 350px;
  }
  section h1 {
    font-size: 2em;
  }
  section p {
    font-size: 1em;
  }
  .menu {
    width: 100%;
  }
  .menu ul {
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: 2em;
  }
}
